# Proyek Analisis Data Dico

### Persiapan
> siapkan environment, sangat disarankan Anda untuk selalu membuat virtual env baru pada setiap proyek. Hal ini untuk meminimalisasi masalah yang berhubungan dengan dependency pada library yang akan digunakan.

##### virtual environment menggunakan conda
- conda create --name main-ds python=3.9
- conda activate main-ds
- pip install numpy pandas scipy matplotlib seaborn jupyter
- Buat sebuah folder baru yang akan menjadi directory utama dalam proyek ini.

### Proses gathering data
> Setelah tahap persiapan selesai, kita bisa masuk ke tahap gathering data. Pada tahap ini, kita akan mengumpulkan semua data yang dibutuhkan.

In [33]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

customers_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/customers.csv")
#head() menampilkan 5 baris teratas data
customers_df.head()
orders_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/orders.csv")
orders_df.head()
product_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/products.csv")
product_df.head()
sales_df = pd.read_csv("https://raw.githubusercontent.com/dicodingacademy/dicoding_dataset/main/DicodingCollection/sales.csv")
sales_df.head()

   sales_id  order_id  product_id  price_per_unit  quantity  total_price
0         0         1         218             106         2        212.0
1         1         1         481             118         1        118.0
2         2         1           2              96         3        288.0
3         3         1        1002             106         2        212.0
4         4         1         691             113         3        339.0

### Proses Assessing Data
> Sekarang kita masuk ke tahap kedua dalam proses data wrangling yaitu assessing data. Seperti yang telah kita bahas sebelumnya, pada proses ini kita akan menilai kualitas dari seluruh data yang akan digunakan. Penilaian ini bertujuan untuk melihat berbagai permasalahan yang ada dalam data tersebut.

In [34]:
#memeriksa tipe data dan missing value dan duplikasi data
# table customer
customers_df.info()  # chek tipe data dan missing value 
print("missing value customer_df:\n", customers_df.isna().sum()) # sum missing value
print("jumlah duplikasi customer_df:\n", customers_df.duplicated().sum()) # sum/chek duplikasi data
print("table customer\n", customers_df.describe())

# table orders
orders_df.info() # chek tipe data dan missing value
print("Jumlah duplikasi product_df:\n",orders_df.duplicated().sum()) # sum/chek duplikasi data
print("table orders\n", orders_df.describe())

# table product 
product_df.info() # chek tipe data dan missing value
print("Jumlah duplikasi product_df:\n", product_df.duplicated().sum())  # sum/chek duplikasi data
print("table product\n", product_df.describe())

# table sales
sales_df.info() # chek tipe data dan missing value
print("missing value sales_df:\n", sales_df.isna().sum()) # sum missing value
print("Jumlah duplikasi sales_df:\n", sales_df.duplicated().sum()) # sum/chek duplikasi data
print("table sales\n", sales_df.describe())


'''method describe() memeriksa parameter statistik dari kolom numerik yang terdapat 
dalam customers_df. Untuk mempermudah pemeriksaan, kita akan menggunakan 
method describe(). Method tersebut akan menampilkan ringkasan parameter 
statistik (mean, median, dll.) '''

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1007 entries, 0 to 1006
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   customer_id    1007 non-null   int64
 1   customer_name  1007 non-null   object
 2   gender         989 non-null    object
 3   age            1007 non-null   int64
 4   home_address   1007 non-null   object
 5   zip_code       1007 non-null   int64
 6   city           1007 non-null   object
 7   state          1007 non-null   object
 8   country        1007 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.9+ KB
missing value customer_df:
 customer_id       0
customer_name     0
gender           18
age               0
home_address      0
zip_code          0
city              0
state             0
country           0
dtype: int64
jumlah duplikasi customer_df:
 6
table customer
        customer_id          age     zip_code
count  1007.000000  1007.000000  1007.000000
mean    501.726912    50.929494  5012.538232
std     288.673238    30.516299  2885.836112
min       1.000000    20.000000     2.000000
25%     252.500000    34.000000  2403.500000
50%     502.000000    50.000000  5087.000000
75%     751.500000    65.000000  7493.500000
max    1000.000000   700.000000  9998.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   payment        1000 non-null   int64
 3   order_date     1000 non-null   object
 4   delivery_date  1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB
Jumlah duplikasi product_df:
 0
table orders
           order_id  customer_id       payment
count  1000.000000  1000.000000   1000.000000
mean    500.500000   506.640000  33972.936000
std     288.819436   277.115502  14451.609047
min       1.000000     1.000000  10043.000000
25%     250.750000   275.250000  21329.250000
50%     500.500000   515.000000  33697.500000
75%     750.250000   737.250000  46249.000000
max    1000.000000  1000.000000  59910.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1266 entries, 0 to 1265
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    1266 non-null   int64
 1   product_type  1266 non-null   object
 2   product_name  1266 non-null   object
 3   size          1266 non-null   object
 4   colour        1266 non-null   object
 5   price         1266 non-null   int64
 6   quantity      1266 non-null   int64
 7   description   1266 non-null   object
dtypes: int64(3), object(5)
memory usage: 79.2+ KB
Jumlah duplikasi product_df:
 6
table product
         product_id        price     quantity
count  1266.000000  1266.000000  1266.000000
mean    627.926540   105.812006    60.138231
std     363.971586     9.715611    11.682791
min       0.000000    90.000000    40.000000
25%     313.250000    95.250000    50.000000
50%     626.500000   109.000000    60.000000
75%     942.750000   114.000000    70.000000
max    1259.000000   119.000000    80.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sales_id        5000 non-null   int64
 1   order_id        5000 non-null   int64
 2   product_id      5000 non-null   int64
 3   price_per_unit  5000 non-null   int64
 4   quantity        5000 non-null   int64
 5   total_price     4981 non-null   float64
dtypes: float64(1), int64(5)
memory usage: 234.5 KB
missing value sales_df:
 sales_id           0
order_id           0
product_id         0
price_per_unit     0
quantity           0
total_price       19
dtype: int64
Jumlah duplikasi sales_df:
 0
table sales
           sales_id     order_id   product_id  price_per_unit    quantity  \
count  5000.000000  5000.000000  5000.000000     5000.000000  5000.00000
mean   2499.500000   503.038200   634.053200      103.501600     1.99240
std    1443.520003   285.964418   363.255794        9.195004     0.80751
min       0.000000     1.000000     1.000000       90.000000     1.00000
25%    1249.750000   258.000000   323.000000       95.000000     1.00000
50%    2499.500000   504.500000   635.000000      102.000000     2.00000
75%    3749.250000   749.000000   951.000000      112.000000     3.00000
max    4999.000000   999.000000  1259.000000      119.000000     3.00000

       total_price
count  4981.000000
mean    206.307368
std      86.352449
min      90.000000
25%     112.000000
50%     204.000000
75%     285.000000
max     357.000000

'method describe() memeriksa parameter statistik dari kolom numerik yang terdapat \ndalam customers_df. Untuk mempermudah pemeriksaan, kita akan menggunakan \nmethod describe(). Method tersebut akan menampilkan ringkasan parameter \nstatistik (mean, median, dll.) '

### Proses cleaning data
> proses terakhir dalam data wrangling yaitu pembersihan atau cleaning data. Pada tahap ini, kita akan membersihkan berbagai masalah yang telah teridentifikasi dalam proses assessing data.

_Berdasarkan hasil proses assessing data, diketahui bahwa terdapat tiga masalah yang dijumpai dalam customer_df, yaitu duplicate data, missing value, dan inaccurate value. Pada tahap ini, kita akan membersihkan ketiga masalah tersebut._

In [40]:
#'''Menghilangkan duplicate data'''

customers_df.drop_duplicates(inplace=True) # kode untuk menghapus duplikasi pada customer_df.
print("Jumlah duplikasi customers_df:\n", customers_df.duplicated().sum()) #periksa masih terdapat duplikasi pada data

#'''Menangani missing value'''

'''#terdapat tiga metode untuk mengatasi missing value yaitu dropping, imputation, dan interpolation
Untuk menentukan metode mana yang akan digunakan, kita perlu melihat data yang mengandung missing value tersebut menggunakan 
teknik filtering seperti berikut.'''
customers_df[customers_df.gender.isna()] #menampilkan baris data yang hanya mengandung missing value pada kolom

'''#pada kasus ini, kita akan menggunakan metode imputation untuk menangani missing value
Pada metode imputation, kita akan menggunakan nilai tertentu untuk mengganti missing value. 
Musabab kolom gender merupakan kolom kategorik, kita akan menggunakan nilai yang dominan sebagai pengganti missing value tersebut. 
Gunakanlah method value_counts()untuk mengidentifikasi nilai yang dominan.'''

customers_df.gender.value_counts()

'''Berdasarkan hasil di atas, dapat diketahui bahwa nilai yang paling dominan dalam kolom gender  
ialah “Prefer not to say”.Nilai inilah yang selanjutnya akan kita gunakan sebagai pengganti 
missing value.'''

customers_df.fillna(value="Prefer not to say", inplace=True)
customers_df.isna().sum() #mengidentifikasi missing value 

#'''#Menangani inaccurate value'''

customers_df[customers_df.age == customers_df.age.max()] #menggunakan teknik filter
customers_df.age.replace(customers_df.age.max(), 70 ,inplace=True) #mengganti inaccurate value
customers_df[customers_df.age == customers_df.age.max()]  #pastikan age telah sesuai
customers_df.age.replace(customers_df.age.max(), 50, inplace=True) #masih ada yg tidak sesuai
customers_df[customers_df.age == customers_df.age.max()] #chek telah sesuai apa belom

customers_df.describe() #memastikan tidak terdapat inaccurate value pada table custumer.

#''' membersihan data orders_df'''
'''Berdasarkan proses assessing data sebelumnya, diketahui bahwa terdapat kesalahan tipe data untuk 
kolom order_date & delivery_date. Untuk mengatasi masalah ini, kita akan mengganti tipe data pada kolom order_date 
& delivery_date menjadi datetime.'''

datetime_columns = ["order_date", "delivery_date"]

for column in datetime_columns:
    orders_df[column] = pd.to_datetime(orders_df[column])

orders_df.info() #check order_date & delivery_date menjadi datetime

#''' membersihan data product_df'''
'''Data berikutnya yang akan kita bersihkan ialah product_df. Sesuai hasil assessing data sebelumnya, kita mengetahui bahwa terdapat 6 data 
yang terduplikasi pada product_df. Untuk mengatasi hal ini, kita perlu membuang data yang sama tersebut menggunakan method drop_duplicates()'''

product_df.drop_duplicates(inplace=True)
print("Jumlah duplikasi product_df: ", product_df.duplicated().sum())

#''' membersihan data sales_df'''
'''Data selanjutnya yang perlu Anda bersihkan ialah sales_df. Berdasarkan hasil penilain data sebelumnya, diketahui bahwa 
terdapat 19 missing value pada kolom total_price. '''

sales_df[sales_df.total_price.isna()]

'''dari hasil tersebut kita menemukan bahwa nilai total_price merupakan hasil perkalian antara 
price_per_unit dan quantity.'''

sales_df["total_price"] = sales_df["price_per_unit"] * sales_df["quantity"]

'''Kode di atas akan mengatasi seluruh missing value serta memastikan nilai pada kolom total_price telah sesuai. '''

sales_df.isna().sum() # check apakah masih ada value yg NaN (missing value)

Jumlah duplikasi customers_df:
 0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       1000 non-null   int64
 1   customer_id    1000 non-null   int64
 2   payment        1000 non-null   int64
 3   order_date     1000 non-null   datetime64[ns]
 4   delivery_date  1000 non-null   datetime64[ns]
dtypes: datetime64[ns](2), int64(3)
memory usage: 39.2 KB
Jumlah duplikasi product_df:  0

sales_id          0
order_id          0
product_id        0
price_per_unit    0
quantity          0
total_price       0
dtype: int64